.flexr{
  display: flex;
  flex-direction: row;
}

.flexc{
  display: flex;
  flex-direction: column;
}

.heder{
  background-image: url("img/11.png");
  background-size: 100%;
  background-repeat: no-repeat;
  height: 1000px;
}

.img-heder0{
  margin-top: 1.8%;
  margin-left: 15%;
  width: 13%;
  height: 6%;
}

.s-m{
  margin-top: 1.6;
  margin-left: 30%;
}

.img-heder1{
  margin-top: 2%;
  height: 3%;
  margin-left: 2%;
}

.img-heder2{
  height: 3%;
  margin-left: 30%;
  margin-top: 2%;
}

.h2-tiap1{
  font-size: 62px;
  margin-top: 3%;
  margin-left: 13%;
}

.p-tiap1{
  margin-left: 13%;
  margin-top: 1%;
  width: 952px;
  font-size: 18px;
}

.img1-tiap1{
  margin-left: 13%;
  margin-top: 4%;
}

.img1-tiap1{
  margin-left: 13%;
  margin-top: 2%;
}

.img1-tiap1{
  margin-left: 53%;
  margin-top: 10%;
  width: 460px;
}

.img2-tiap1{
  margin-left: 53%;
  margin-top: 6%;
  width: 460px;
}

.img3-tiap1{
  margin-top: 5%;
  margin-left: 50%;
  width: 788px;
}

.g{
  background-image: ("img/g.png");
}

.tiap2{
  background-color: #000;
}

.inp-tiap2{
  background-color: #000;
  color: blueviolet;
  border: none;
  border-bottom: 1px solid #777;
  margin-top: 20%;
  width: 300px;
}

.inp-f{
  background-color: #000;
  border: none;
}

.div-y{
  background-image:url("img/Layer\ 5.png") ;
}

.div-y1{
  background-image:url("img/Layer\ 6.png") ;
}

.img-y{
  width: 294px;
  height: 351px;
  margin-top: 25px;
  margin-left: 164px;
  margin-bottom: 25px;
  z-index: 1;
}

.img-y1{
  width: 294px;
  height: 351px;
  margin-top: 24px;
  margin-left: 164px;
  margin-bottom: 84px;
}