.flex{
  display: flex;
  flex-direction: row;
}

.heder{
  background-image: url("img/11.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

.img-heder0{
  margin-top: 1.8%;
  margin-left: 15%;
  width: 13%;
  height: 6%;
}

.s-m{
  margin-top: 1.6;
  margin-left: 30%;
}

.img-heder1{
  margin-top: 2%;
  height: 3%;
  margin-left: 2%;
}

.img-heder2{
  height: 3%;
  margin-left: 30%;
  margin-top: 2%;
}